

<div class="sidenav">
  <a style="background-color:" href="/listbugs">All Issued Bugs</a>
  <a style="margin-top:20px; font-weight: bold" class="noHover">Issue Status : </a>
  <a style="background-color:#ffffff " href="/listbugs/Awaiting Validation">Awaiting Validation</a>
  <a style="background-color:#ffffff " href="/listbugs/Valid">Valid</a>
  <a style="background-color:#ffffff " href="/listbugs/Invalid">Invalid</a>
  <a style="background-color:#ffffff " href="/listbugs/To Be Done">To Be Done</a>
  <a style="background-color:#ffffff " href="/listbugs/In Progress">In Progress</a>
  <a style="background-color:#ffffff " href="/listbugs/Done">Done</a>
</div>
