<div class="col-sm-2">
  <div class="card">
    <div class="card-body">
      <a class="btn btn-block btn-social btn-google" href="/auth/google" role="button">
        <i class="fab fa-google"></i>
        <img style="width:50% ; height:50%" src="/googlelogo.png" alt="">
      </a>
    </div>
  </div>
</div>
