<nav class="navbar navbar-expand-lg navbar-light ">
  <a class="rounded-0 navbar-brand noHover" href="#">Bug Tracker</a>
<div class="container-fluid">
    <ul class="nav navbar-nav navbar-right">
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li style="padding-top:8px ;">
        <a class="nav-link" href="/listbugs">Home </a>
      </li>

      <li style="padding-top:8px ;">
        <a class="nav-link" href="/aboutus">About us</a>
      </li>
      <li style="padding:0px"class="nav-item dropdown">
        <a class="nav-link" href="#" id="rightsidemenubutton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img height="50vw" width="50vw" src="/settingsicon.png" alt="Settings">
        </a>
      </li>

    </ul>

</div>

</nav>

<div id="rightsidenav"class="rightsidenav" style="display:none">
  <a class="dropdown-item" href="/account/<%if(currentuser.designation.manager){%>bugsunassigned<%}else if(currentuser.designation.tester){%>bugsreported<%}else{%>bugsassigned<%}%> ">Account</a>
          <!-- userlist option -->
  <a class="" href="/settings">Settings</a>
  <a class="" href="/logout">Logout</a>
</div>
