<nav class="navbar navbar-light navbar-light ">
  <div class="row container-fluid">
    <div class="col-4">
        <img style="margin:5px" height="60vw " width="60vw" src="/logo.png" alt="logo">
        <a class="rounded-0 navbar-brand noHover align-start " href="#">Bug Tracker</a>
    </div>
    <div class="col-6 ">
      <div class="d-flex justify-content-end">
        <a class="" href="/listbugs">Home </a>

        <a class="" href="/aboutus">About us</a>

        <a class="" href="#" id="rightsidemenubutton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img height="50vw" width="50vw" src="/settingsicon.png" alt="Settings">
        </a>
      </div>
    </div>
  </div>


</nav>

<div id="rightsidenav" class="rightsidenav" style="display:none">
  <a class="dropdown-item" href="/account/<%if(currentuser.designation.manager){%>bugsunassigned<%}else if(currentuser.designation.tester){%>bugsreported<%}else{%>bugsassigned<%}%> ">Account</a>
          <!-- userlist option -->
  <a class="" href="/settings">Settings</a>
  <a class="" href="/logout">Logout</a>
</div>
