




<div class="sidenav">
<%if(currentuser.designation.tester) {%><a style="background-color:<%=color[0]%> !important " href="/account/bugsreported">Bugs Reported</a> <%}%>
<%if(currentuser.designation.developer) {%> <a style="background-color:<%=color[1]%> !important " href="/account/bugsassigned">Bugs Assigned</a><%}%>
<%if(currentuser.designation.manager) {%>  <a style="background-color:<%=color[2]%> !important " href="/account/bugsunassigned">Bugs Unassigned</a><%}%>
</div>
