




<div class="sidenav">
  <a style="background-color:<%=color[0]%> !important" href="/account/bugsreported">Bugs Reported</a>
  <a style="background-color:<%=color[1]%> !important " href="/account/bugsassigned">Bugs Assinged</a>
</div>
