<%- include('partials/header') %>
<%- include('partials/navbar') %>
<div class="container">


    <!--  -->
  <div class="row">
    <div style="color:white; font-weight:600 "class="col-3">
      <div class="card text-center border-dark mb-3 bg-success mb-3" style="max-width: 30rem;">
        <div class="card-header">Testing</div>
        <div style="color:white; font-weight:600 " class="card-body">
          <h5 class="card-title">Sudiptha</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>

    <div class="col-3">
      <div style="color:white; font-weight:600 "class="card text-center border-dark mb-3 bg-success mb-3" style="max-width: 30rem;">
        <div class="card-header ">DEV</div>
        <div style="color:white; font-weight:600 " class="card-body">
          <h5 class="card-title">Abhinav</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>

    <div class="col-3">
      <div style="color:white; font-weight:600 "class="card text-center border-dark mb-3 bg-success mb-3" style="max-width: 30rem;">
        <div class="card-header ">UI</div>
        <div style="color:white; font-weight:600 " class="card-body">
          <h5 class="card-title">Mayank</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>

    <div class="col-3">
      <div style="color:white; font-weight:600 "class="card text-center border-dark mb-3 bg-success mb-3" style="max-width: 30rem;">
        <div class="card-header ">UI</div>
        <div style="color:white; font-weight:600 " class="card-body">
          <h5 class="card-title">Sai Charan</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    </div>

    <div class="row">
      <div class="col-4">
        <div style="color:white; font-weight:600 "class="card text-center border-dark mb-3 bg-success mb-3" style="max-width: 30rem;">
          <div class="card-header">Testing</div>
          <div style="color:white; font-weight:600 " class="card-body">
            <h5 class="card-title">Ravi Ranjan</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div style="color:white; font-weight:600 "class="card text-center border-dark mb-3 bg-success mb-3" style="max-width: 30rem;">
          <div class="card-header ">DEV</div>
          <div style="color:white; font-weight:600 " class="card-body">
            <h5 class="card-title">Sri Charan</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div style="color:white; font-weight:600 "class="card text-center border-dark mb-3 bg-success mb-3" style="max-width: 30rem;">
          <div class="card-header ">UI</div>
          <div style="color:white; font-weight:600 " class="card-body">
            <h5 class="card-title">Amiya</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>


      </div>
    <%- include('partials/footer') %>
