<!DOCTYPE html>
<html lang="en">
	<head>
	<title>Bug Tracker</title>
	<meta charset="UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
				<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	</Head>
	<body>
<div class="container">
  <div class="row">

    <div class="col-sm">
      	<ul class="list-group">
	<li class="list-group-item"> <%=username %></li>
	</ul>
    </div>

  </div>
</div>


</body>
