<%- include('partials/header') %>

<div class="jumbotron centered">
  <div class="container">
    <h1  style="font-size: 70px;color:black !important"class="display-5">Bug Tracker</h1>


    <a style="font-size:30px"class="btn btn-success btn-lg" href="/register" role="button">Register</a>
    <a style="font-size:30px"class="btn btn-success btn-lg" href="/login" role="button">Login</a>

  </div>
</div>
<%- include('partials/footer') %>
